*
{
	margin: 0;
	padding: 0;
}

body
{
	margin: 0;
	padding: 0;
	background-color: #DBDBDB;
	font: 12px Tahoma, Verdana, sans-serif;
}

div.error {
	color: #200;
	border: 1px solid #d77;
	background: #fcc;
	padding: 2px;
}

small
{
	font-size:10px;
}