body
{
	background-color: #DBDBDB;
	font: 12px Tahoma, Verdana, sans-serif;
}

div
{
	background-color: #FFFFFF;
}

div.error {
	color: #200;
	border: 1px solid #d77;
	background: #fcc;
	padding: 2px;
}